.VisualizationContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  max-width: 900px;
  min-width: 700px;
}
