.app {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: row;  
  padding-left: 10%;
  padding-right: 10%;
}
